=render partial: 'users/partial/buttons_community'
%br
- if @users.present?
  - @users.each do |user|
    - if user.friend.users.present?
      - if user.friend.users.find_by(id: current_user.id)
        = render partial: 'users/partial/user_index', locals: { user: user }



