=render partial: 'buttons_community'
%br
- if @users.present?
  - @users.each do |user|
    - if user.friend.users.present?
      - if user.friend.users.find_by(id: current_user.id)
        -if current_user.friend.users.find_by(id: user.id)
        -else
          = render partial: 'user_index', locals: { user: user }