%div
  .row
    .col-lg-4{ class: 'panel panel-default'}
      %div{ class: 'panel-body'}
        =render partial: 'partial/avatar'
        =render partial: 'users/partial/friend'
    .col-lg-7{ class: 'panel panel-default', style:'margin-left:20px;'}
      =render partial: 'users/partial/show_user_form'
=render partial: 'partial/post_index'






