/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require rails_emoji_picker
 *= require_self
 *= require twitter-bootstrap-static/bootstrap
 *= require jquery.fileupload
*= require jquery.fileupload-ui
 */

/**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/

.loaderArea {
    background: ghostwhite;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    border: 8px solid #660A65;
    border-radius: 10px;
    position: absolute;
    top: 0;
}

.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(180deg) skew(360deg);
    }
}


.loader:after {
    animation: animate2 2s infinite linear;
}

@keyframes animate2 {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(-180deg) skew(-360deg);
    }
}
